@font-face {
	font-family: 'Favorit';
	src: url('Favorit-Regular.eot');
	src: url('Favorit-Regular.eot?#iefix') format('embedded-opentype'),
		url('Favorit-Regular.woff2') format('woff2'),
		url('Favorit-Regular.woff') format('woff'),
		url('Favorit-Regular.ttf') format('truetype'),
		url('Favorit-Regular.svg#Favorit-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Favorit';
	src: url('Favorit-RegularItalic.eot');
	src: url('Favorit-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('Favorit-RegularItalic.woff2') format('woff2'),
		url('Favorit-RegularItalic.woff') format('woff'),
		url('Favorit-RegularItalic.ttf') format('truetype'),
		url('Favorit-RegularItalic.svg#Favorit-RegularItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Favorit';
	src: url('Favorit-Light.eot');
	src: url('Favorit-Light.eot?#iefix') format('embedded-opentype'),
		url('Favorit-Light.woff2') format('woff2'),
		url('Favorit-Light.woff') format('woff'),
		url('Favorit-Light.ttf') format('truetype'),
		url('Favorit-Light.svg#Favorit-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Favorit';
	src: url('Favorit-LightItalic.eot');
	src: url('Favorit-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('Favorit-LightItalic.woff2') format('woff2'),
		url('Favorit-LightItalic.woff') format('woff'),
		url('Favorit-LightItalic.ttf') format('truetype'),
		url('Favorit-LightItalic.svg#Favorit-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Favorit';
	src: url('Favorit-Medium.eot');
	src: url('Favorit-Medium.eot?#iefix') format('embedded-opentype'),
		url('Favorit-Medium.woff2') format('woff2'),
		url('Favorit-Medium.woff') format('woff'),
		url('Favorit-Medium.ttf') format('truetype'),
		url('Favorit-Medium.svg#Favorit-Medium') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Favorit';
	src: url('Favorit-MediumItalic.eot');
	src: url('Favorit-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('Favorit-MediumItalic.woff2') format('woff2'),
		url('Favorit-MediumItalic.woff') format('woff'),
		url('Favorit-MediumItalic.ttf') format('truetype'),
		url('Favorit-MediumItalic.svg#Favorit-MediumItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
