$cols = 12
$gutter = 30px
  
// COLUMN SIZES & OFFSETS

.col
  padding: 0 ($gutter / 2)
  margin-bottom: $gutter
  
.col-no-gutter
  padding-left: 0
  padding-right: 0
  
.col-no-margin-bottom
  margin-bottom: 0

for offset in 0..($cols - 1)
  .offset-l-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-l-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col
    
// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-small = 14px
$font-size-large = $font-size-small * 2.5
$font-size-extra = $font-size-small * 5 

// ******************************************************

// TYPOGRAPHY
.font-size-large
  font-size: $font-size-large
.font-size-extra 
  font-size: $font-size-extra
  
// TEXT RULES
  
.text-line-length 
  h1, h2, h3, p
    width: 430px
  div.wp-caption
    width: 430px !important
  
// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large

// ******************************************************

.caption
  width: 65%
  
p.wp-caption-text
  width: 80%
  margin-top: $margin-micro
  margin-left: auto
  margin-right: auto
  
// HEADER 

.sub-menu 
  padding-top: 81px
  ul 
    padding: $margin-basic $margin-small $margin-mid
    
#projects-menu
  width: 930px
  
// PROJECT

#project-text-holder
  p 
    width: 1000px
