$font-size-small = 14px
$font-size-mid = 21px
$font-size-large = 28px

// ******************************************************

// TYPOGRAPHY

html
  font-size: $font-size-small
  
.font-size-small 
  font-size: $font-size-small
  
.font-size-mid 
  font-size: $font-size-mid
  
.font-size-large 
  font-size: $font-size-large
  
// TEXT RULES
  
.text-line-length 
  h1, h2, h3, p
    width: 65%
    
// ******************************************************

.caption
  width: 70%
  
// PROJECT
#project-text-holder
  p 
    width: 540px

// CONVERSATION

#conversation-holder
  h3 
    font-size: $font-size-mid
    position: absolute
    text-align: right 
    right: 85%