$font-size-small = 14px
$font-size-mid = $font-size-small * 1.5
$font-size-large = 32px
$font-size-extra = 42px

// ******************************************************

// TYPOGRAPHY

html
  font-size: $font-size-small

.font-size-small
  font-size: $font-size-small

.font-size-mid
  font-size: $font-size-mid

.font-size-large
  font-size: $font-size-large

.font-size-extra
  font-size: $font-size-extra

// TEXT RULES

.text-line-length
  h1, h2, h3, p
    width: 65%
  div.wp-caption
    width: 65% !important

// ******************************************************

.caption
  width: 70%

.caption, p.wp-caption-text
  font-size: 11px

$header-height = 68px

// ******************************************************

// HEADER

.sub-menu
  padding-top: $header-height

#projects-menu
  width: 500px
  ul
    width: 480px

#sort-menu
  ul
    width: 560px

// ******************************************************

// PROJECT

#project-text-holder
  p
    width: 540px

// ******************************************************

// CONVERSATION

#conversation-holder
  h3
    font-size: $font-size-mid
    position: absolute
    text-align: right
    right: 85%
